<!DOCTYPE html>
<html>
  <head>
    <title>Stubloom</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/18d078742a.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :css %>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="row pt-2">
          <%= link_to "#" do %><i class="fa-brands fa-aws fa-2x"></i><% end %>
          <%= link_to "#", class: "mx-3" do %><i class="fa-solid fa-grip-vertical fa-lg"></i>サービス<% end %>
          検索フォーム
        * <%= link_to "top", root_path %> page1ページ
        </div>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      footer
    </footer>
  </body>
</html>
